In [2]:
# python -m ipykernel install --user --name py2env --display-name "Python2 (py2env)"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [1]:
import pandas as pd 
df=pd.read_csv('CE802_Ass_2019_Data.csv')

In [2]:
df.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,Class
0,0,0,16,2.02,0.52,-2.35,-1.98,-0.70,85,6,...,-0.07,1.08,15,-0.63,-3.49,-1.68,0.02,15.3,NaN,True
1,0,0,86,-0.90,2.75,0.14,0.83,-0.06,107,1,...,0.17,1.06,-8,-1.21,0.34,0.36,0.61,10.1,NaN,True
2,1,1,165,0.73,1.05,0.10,2.57,-1.65,41,5,...,0.04,0.42,-6,-0.46,-0.62,1.67,2.60,11.0,1.55,False
3,1,1,191,-1.50,0.79,0.33,1.24,1.35,17,2,...,1.74,1.74,15,0.47,0.63,0.08,0.19,6.3,0.95,False
4,1,1,13,0.25,-1.19,-0.90,2.67,0.22,12,8,...,-0.39,1.25,25,-0.09,-2.41,-0.53,-0.77,10.5,NaN,True

In [3]:
df.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20
count,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,328.000000
mean,0.668000,0.506000,93.20400,-0.065980,-0.037800,0.03994,1.219340,-0.046900,38.352000,7.156000,-0.000580,-0.004480,0.936420,0.742000,0.004500,0.385840,-0.073300,-0.083320,9.294200,0.074146
std,0.471403,0.500465,70.32064,1.534023,1.041526,1.04141,1.372958,0.980714,25.331946,16.716295,1.076134,1.014567,0.702435,15.458634,0.982961,1.645632,0.979986,0.999405,5.813214,1.891396
min,0.000000,0.000000,3.00000,-4.300000,-2.870000,-2.90000,-2.330000,-3.230000,0.000000,-49.000000,-3.470000,-3.570000,0.000000,-41.000000,-3.240000,-4.080000,-3.060000,-3.190000,0.500000,-5.350000
25%,0.000000,0.000000,37.00000,-1.102500,-0.792500,-0.67000,0.297500,-0.690000,18.000000,-5.000000,-0.750000,-0.702500,0.347500,-9.250000,-0.615000,-0.802500,-0.730000,-0.742500,5.100000,-0.740000
50%,1.000000,1.000000,79.00000,-0.105000,-0.030000,0.03000,1.235000,-0.080000,35.000000,7.000000,0.010000,0.025000,0.790000,0.000000,-0.005000,0.385000,-0.120000,-0.100000,8.200000,0.170000
75%,1.000000,1.000000,135.25000,1.042500,0.640000,0.76000,2.080000,0.592500,54.000000,19.000000,0.792500,0.680000,1.335000,12.000000,0.662500,1.505000,0.560000,0.602500,11.800000,0.910000
max,1.000000,1.000000,338.00000,3.900000,3.300000,3.22000,5.690000,2.700000,140.000000,61.000000,3.900000,3.030000,4.000000,55.000000,3.260000,5.680000,2.620000,3.640000,36.800000,6.130000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 21 columns):
F1       500 non-null int64
F2       500 non-null int64
F3       500 non-null int64
F4       500 non-null float64
F5       500 non-null float64
F6       500 non-null float64
F7       500 non-null float64
F8       500 non-null float64
F9       500 non-null int64
F10      500 non-null int64
F11      500 non-null float64
F12      500 non-null float64
F13      500 non-null float64
F14      500 non-null int64
F15      500 non-null float64
F16      500 non-null float64
F17      500 non-null float64
F18      500 non-null float64
F19      500 non-null float64
F20      328 non-null float64
Class    500 non-null bool
dtypes: bool(1), float64(14), int64(6)
memory usage: 78.7 KB

In [9]:
from sklearn.impute import KNNImputer